n8n/Laporan Harian.json
{
  "name": "Laporan Harian",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 21
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "4566f29b-6bdf-4d46-ac0d-36cefcdd78a3",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1awyO-ldAiDJrpviuHn07eFsCmERwq2QOZ26wooXLZFU",
          "mode": "list",
          "cachedResultName": "Data Penjualan Elpiji",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1awyO-ldAiDJrpviuHn07eFsCmERwq2QOZ26wooXLZFU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 513132859,
          "mode": "list",
          "cachedResultName": "Form Responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1awyO-ldAiDJrpviuHn07eFsCmERwq2QOZ26wooXLZFU/edit#gid=513132859"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "62c2862d-7db4-44c8-9c75-0ee11590d2b5",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nes5CmZPiATizVBk",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $('Get row(s) in sheet').all().map(r => r.json);\nconst hari = new Date().toLocaleDateString('id-ID', {day:'2-digit', month:'long', year:'numeric'});\n\nconst HARGA_BELI = 16000;\nconst HARGA_JUAL = 19000;\nconst DANA_TABUNGAN = 10000;\n\nlet totalTabung = 0, totalOmset = 0;\nlet totalLunas = 0, totalHutang = 0, totalDP = 0, totalDPUang = 0;\nconst ringkasan = {};\n\nfor (const r of rows) {\n  const findVal = (obj, key) => {\n    const k = Object.keys(obj).find(k => k.trim() === key);\n    return k ? obj[k] : null;\n  };\n  const jml = parseInt(findVal(r, 'Jumlah Tabung Terjual')) || 0;\n  const ukuran = findVal(r, 'Ukuran Tabung') || 'Lain';\n  const status = (r['Status Pembayaran'] || 'Lunas').trim();\n  const dibayar = parseInt(r['Jumlah Dibayar (Rp)']) || 0;\n\n  if (jml > 0) {\n    totalTabung += jml;\n    totalOmset += jml * HARGA_JUAL;\n    ringkasan[ukuran] = (ringkasan[ukuran] || 0) + jml;\n\n    if (status === 'Lunas') totalLunas += jml * HARGA_JUAL;\n    else if (status === 'Hutang') totalHutang += jml * HARGA_JUAL;\n    else if (status === 'DP') {\n      totalDP += jml * HARGA_JUAL;\n      totalDPUang += dibayar;\n    }\n  }\n}\n\nconst detail = Object.entries(ringkasan)\n  .map(([k,v]) => `  • ${k}: ${v} tabung`).join('\\n') || '  • Belum ada penjualan';\n\nconst stokNode = $('Get row(s) in sheet1').all();\nconst findStok = (obj, key) => {\n  const k = Object.keys(obj).find(k => k.trim() === key);\n  return k ? obj[k] : null;\n};\nconst stokAwal = stokNode.length > 0 ? parseInt(findStok(stokNode[0].json, 'Stok Awal (tabung)')) || 0 : 0;\nconst sisaStok = stokAwal > 0 ? stokAwal - totalTabung : 'Belum diinput';\nconst statusStok = stokAwal === 0 ? '⚠️ Stok pagi belum diinput' : sisaStok <= 10 ? '⚠️ MENIPIS' : '✅ Aman';\n\nconst modalHari = totalTabung * HARGA_BELI;\nconst keuntunganKotor = totalTabung * (HARGA_JUAL - HARGA_BELI);\nconst keuntunganBersih = keuntunganKotor - DANA_TABUNGAN;\nconst uangDitangan = totalLunas + totalDPUang;\nconst sisaTagihan = totalHutang + (totalDP - totalDPUang);\n\nconst pesan = `📊 LAPORAN HARIAN — ${hari}\n\n🫙 Total terjual: ${totalTabung} tabung\n${detail}\n\n📦 Sisa stok: ${typeof sisaStok === 'number' ? sisaStok + ' tabung' : sisaStok} ${statusStok}\n\n💰 Omset hari ini: Rp ${totalOmset.toLocaleString('id-ID')}\n✅ Sudah dibayar: Rp ${uangDitangan.toLocaleString('id-ID')}\n⏳ Belum dibayar: Rp ${sisaTagihan.toLocaleString('id-ID')}\n\n🏭 Modal: Rp ${modalHari.toLocaleString('id-ID')}\n📈 Keuntungan kotor: Rp ${keuntunganKotor.toLocaleString('id-ID')}\n🏦 Dana tabungan: Rp ${DANA_TABUNGAN.toLocaleString('id-ID')}\n✅ Keuntungan bersih: Rp ${keuntunganBersih.toLocaleString('id-ID')}\n\n_Otomatis dikirim jam 21.00_`;\n\nreturn [{ json: { pesan } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "26ac6af0-be89-469a-806e-84adb0bab739",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "chatId": "5990513142",
        "text": "={{ $json.pesan }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        832,
        0
      ],
      "id": "a0b099c6-1cbb-42db-8c8d-8d68684fa823",
      "name": "Send a text message",
      "webhookId": "18325ee1-a84a-49df-bddd-fcca0fa4a8ba",
      "credentials": {
        "telegramApi": {
          "id": "soCIQvP4cPvfjKQ1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1awyO-ldAiDJrpviuHn07eFsCmERwq2QOZ26wooXLZFU",
          "mode": "list",
          "cachedResultName": "Data Penjualan Elpiji",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1awyO-ldAiDJrpviuHn07eFsCmERwq2QOZ26wooXLZFU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 510913662,
          "mode": "list",
          "cachedResultName": "Form Responses 2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1awyO-ldAiDJrpviuHn07eFsCmERwq2QOZ26wooXLZFU/edit#gid=510913662"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "tanggal",
              "lookupValue": "={{ $now.format('dd/MM/yyyy') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        0
      ],
      "id": "f3c44d68-3fa7-49de-9a85-a893609a9cb4",
      "name": "Get row(s) in sheet1",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nes5CmZPiATizVBk",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ebadc495-d218-4894-8acb-832b775421fb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e69ae1847f41ccee34ca7282c64d31c58ff4574dcd54bad959a8db0c7e9a1861"
  },
  "id": "8knnc8O7YflS2YNr",
  "tags": []
}