n8n/Laporan Harian.json
{
  "name": "Laporan Harian",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 21
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "4566f29b-6bdf-4d46-ac0d-36cefcdd78a3",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1awyO-ldAiDJrpviuHn07eFsCmERwq2QOZ26wooXLZFU",
          "mode": "list",
          "cachedResultName": "Data Penjualan Elpiji",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1awyO-ldAiDJrpviuHn07eFsCmERwq2QOZ26wooXLZFU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 513132859,
          "mode": "list",
          "cachedResultName": "Form Responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1awyO-ldAiDJrpviuHn07eFsCmERwq2QOZ26wooXLZFU/edit#gid=513132859"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "62c2862d-7db4-44c8-9c75-0ee11590d2b5",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nes5CmZPiATizVBk",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(r => r.json);\nconst hari = new Date().toLocaleDateString('id-ID', {day:'2-digit', month:'long', year:'numeric'});\n\nlet totalTabung = 0, totalOmset = 0;\nconst ringkasan = {};\n\nfor (const r of rows) {\n  const findVal = (obj, key) => {\n    const k = Object.keys(obj).find(k => k.trim() === key);\n    return k ? obj[k] : null;\n  };\n  const jml = parseInt(findVal(r, 'Jumlah Tabung Terjual')) || 0;\n  const hrg = parseInt(findVal(r, 'Harga per Tabung (Rp)')) || 0;\n  const ukuran = findVal(r, 'Ukuran Tabung') || 'Lain';\n  totalTabung += jml;\n  totalOmset += jml * hrg;\n  ringkasan[ukuran] = (ringkasan[ukuran] || 0) + jml;\n}\n\nconst detail = Object.entries(ringkasan)\n  .map(([k,v]) => `  • ${k}: ${v} tabung`).join('\\n');\n\nconst pesan = `📊 LAPORAN HARIAN — ${hari}\n\n🫙 Total terjual: ${totalTabung} tabung\n${detail}\n\n💰 Total omset: Rp ${totalOmset.toLocaleString('id-ID')}\n\n_Otomatis dikirim jam 21.00_`;\n\nreturn [{ json: { pesan } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "26ac6af0-be89-469a-806e-84adb0bab739",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "sendTo": "adi.yansyaaah@gmail.com",
        "subject": "Laporan Harian Penjualan Elpiji",
        "emailType": "text",
        "message": "={{ $json.pesan }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        624,
        0
      ],
      "id": "de1ca312-03a7-4df1-b91e-047ef9efd581",
      "name": "Send a message",
      "webhookId": "306b5716-7de6-4494-96b1-39f878fb218b",
      "credentials": {
        "gmailOAuth2": {
          "id": "JlxiYroSpYvBLp2T",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "defc6eac-a34c-4289-be5b-cded823a6175",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e69ae1847f41ccee34ca7282c64d31c58ff4574dcd54bad959a8db0c7e9a1861"
  },
  "id": "8knnc8O7YflS2YNr",
  "tags": []
}