n8n/notifikasi penjualan.json
{
  "name": "notifikasi penjualan",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1awyO-ldAiDJrpviuHn07eFsCmERwq2QOZ26wooXLZFU",
          "mode": "list",
          "cachedResultName": "Data Penjualan Elpiji",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1awyO-ldAiDJrpviuHn07eFsCmERwq2QOZ26wooXLZFU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 513132859,
          "mode": "list",
          "cachedResultName": "Form Responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1awyO-ldAiDJrpviuHn07eFsCmERwq2QOZ26wooXLZFU/edit#gid=513132859"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "cba21798-0c49-4e88-b03d-156048edfcc6",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "db3NVIOT0mhs5oQ6",
          "name": "Google Sheets Trigger OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const row = $input.first().json;\n\nconst findVal = (obj, key) => {\n  const k = Object.keys(obj).find(k => k.trim() === key);\n  return k ? obj[k] : null;\n};\n\nconst tabung = findVal(row, 'Ukuran Tabung') || '-';\nconst jumlah = findVal(row, 'Jumlah Tabung Terjual') || 0;\nconst harga = findVal(row, 'Harga per Tabung (Rp)') || 0;\nconst total = findVal(row, 'Total (Rp)') || (jumlah * harga);\nconst pembeli = findVal(row, 'Nama Pembeli') || 'Umum';\nconst tanggal = findVal(row, 'Tanggal') || '-';\nconst waktu = new Date().toLocaleTimeString('id-ID', {hour:'2-digit', minute:'2-digit'});\n\nconst pesan = `✅ *PENJUALAN BARU*\n📅 ${tanggal} | ⏰ ${waktu}\n🫙 ${tabung} — ${jumlah} tabung\n👤 ${pembeli}\n💰 Total: Rp ${Number(total).toLocaleString('id-ID')}`;\n\nreturn [{ json: { pesan } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "39f6e5f1-5a94-40ec-98a2-8e923b803738",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "chatId": "5990513142",
        "text": "={{ $json.pesan }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        416,
        0
      ],
      "id": "49fb17a7-b5fe-4336-a1be-5710701c256a",
      "name": "Send a text message",
      "webhookId": "06acfea1-d80b-4566-8ead-4c8f95a9c291",
      "credentials": {
        "telegramApi": {
          "id": "soCIQvP4cPvfjKQ1",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "35f56693-31f7-4910-9288-48645178cf1a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e69ae1847f41ccee34ca7282c64d31c58ff4574dcd54bad959a8db0c7e9a1861"
  },
  "id": "WF3q7wdO95nk2O9E",
  "tags": []
}